<li>
  <p>
    <%= comment.content %>
    <small><%= comment.user.name %></small>
    <% if(locals.user && locals.user.id == comment.user.id) { %>
    <a id="delete-button" href="/comment/destroy/<%= comment.id %>">XXXXX</a>
    <% } %>
  </p>
</li>
