<link rel="stylesheet" href="/css/sign-in.css" />

<h1>Sign-up Page</h1>

<div>
  <form action="/user/create" method="post">
    <input type="text" name="name" placeholder="Enter your name" required />
    <input type="email" name="email" placeholder="Enter your email" required />
    <input
      type="password"
      name="password"
      placeholder="Enter your password"
      required
    />
    <input
      type="password"
      name="confirmPassword"
      placeholder="Enter your Password"
      required
    />
    <button type="submit">Sign-in</button>
  </form>
</div>
