<link rel="stylesheet" href="/css/sign-in.css" />
<h1>Sign-in Page</h1>
<div>
  <form action="/user/createSession" method="post">
    <input type="text" name="name" placeholder="Enter your name" />
    <input type="email" name="email" placeholder="Enter your email" required />
    <input
      type="password"
      name="password"
      placeholder="Enter your password"
      required
    />
    <button type="submit">Sign-in</button>
  </form>

  <p>
    <a href="/user/auth/google">Google Sign-in/Sign-up</a>
  </p>
</div>
