.post-comment {
  color: deeppink;
}

.delete-post-button {
  color: orangered;
}

#home-container {
  display: flex;
  #post-feed {
    width: 70%;
    padding: 10px;
  }
  #user-list {
    width: 30%;
    padding: 10px;
    border-left: 2px solid greenyellow;
    color: red;
  }
}
