<div>
    <p>
        Hi <%= comment.user.name %>
        <br>
        <br>
        <p>Your comment <strong><%= comment.content %></strong> got published on the random application project</p>
    <br>
    <br>
    <p>Thanks</p>
    
    </p>
</div>